/* 改变主题色变量 */
$--color-primary: #ad0e11;
// $--color-warning: #f7b500;
// $--color-danger: #a50000;
// $--color-success: #009788;
// $--color-info: #203e56;

// 按钮圆角
$--button-border-radius: 0;
$--button-medium-border-radius: 0;
$--button-mini-border-radius: 0;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";
